.header{
   text-align: center;
   background: blue;

}

.header__logo-img{
   width: 30%;
   height: auto;

}
.header__h2{
   background: red;
}


.btn{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
   /* all:unset; */
   }


.btn{
   font-size: 18px;
   color: white;
   background: pink;
   border: 1px solid black;
   margin: 8px auto;
   padding: 10px 20px;
   border-radius: 30px;
}

.navSection1{
   text-align: center;
}
.navSection2{
   text-align: center;
}

.navSection1__ul-li{
   display: inline-block;
   text-transform: uppercase;
   color: brown;
   padding: 10px 25px;
   font-size: 20px;
   border: 2px solid brown;
   margin: 10px 15px;
   transition: 0.4s;
   list-style-type: none;
}

.navSection1__ul-li:hover{
   color:white;
   background-color: darkgrey;
   border: 2px solid black;
}

.navSection2__ul-li{
   display: inline-block;
   text-transform: uppercase;
   color: blue;
   padding: 10px 25px;
   border: 2px solid cadetblue;
   margin: 10px 15px;
   font-size: 20px;

}

.footer{
   text-align: center;
   font-size: 20px;
   background: silver;
}


